;[]-----------------------------------------------------------------[]
;|   ZCLKERNL.RC -- resource file				     |
;[]-----------------------------------------------------------------[]
;
; $Copyright: 2005$
; $Revision: 1.1.1.1 $
;
